:root {
  background-color: #121212; /* Tamno siva pozadina */
  color: white;
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #121212;
  min-height: 100vh;
}

a {
  text-decoration: none;
}