:root {
  background-color: #121212; /* Tamno siva pozadina */
  color: white;
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #121212;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

/* Opciono: Specifično stilizovanje ikonice kalendara u polju */
input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    border-radius: 4px;
    margin-right: 2px;
    opacity: 0.6;
    filter: invert(0.8); /* Čini ikonicu svetlijom na tamnoj pozadini */
}